@page "/about-hair-care" 

<div class="content-section">
    <h1 class="section-title">O włosomaniactwie</h1>

    <p>O co chodzi? Chodzi o <strong>świadomą pielęgnację</strong></p>

</div>

<section class="content-section">
    <h2 class="section-title">Równowaga PEH</h2>
    <p></p>
    <ul>
        <li>Proteiny</li>
        <li>Emolienty</li>
        <li>Humektanty</li>
    </ul>
</section>

<section class="content-section">
    <h2 class="section-title">Metoda Curly Girls (CG)</h2>
    <p>Jest to metoda dbania o włosy skupiająca się na włosach kręconych. Takie włosy dużo częściej są bardziej wrażliwe na zniszczenia i wysuszenie, dlatego dbanie o nie skupia się na ochronie i nawilżaniu</p>
    <p>Czego unika się w metodzie CG:</p>
    <ul>
        <li>szamponów</li>
        <li>silikonów, które wymagają silniejszych detergentów do zmycia</li>
    </ul>
    <p>Więcej informacji do znalezienia tu:</p>
</section>

@code {

}
