@page "/about"

<section class="content-section">
    <h1>O stronie</h1>
    <h3>W skrócie: jest to strona, która pomaga z rozumieniu składu kosmetyków do włosów</h3>
    <p>Dla każdej osoby przykładającej większą wagę do dbania o włosy skład kosmetówm ma istotne znaczenie: staramy się zrozumieć czy kosmetyków jest bardziej emolientowy czy proteinowy, czy zawiera detergenty albo silikony. Czasami składy są bardziej przejrzyste, a czasami stoimy przed półką w drogerii starając się przypomnieć sobie co znaczyła ta długa i obca nazwa.</p>
    <p>Tu przychodzi z pomocą ta aplikacja: zamiast wyszukiwać naprędce każdy składnik możemy wpisać cały skład (a w niedalekiej przyszłości zrobić zdjęcie składu z kosmetyku!) i mieć wszystkie szczegóły podane w komfortowej liście</p>
    
</section>

<section class ="content-section">
    <h2>To nie jest <strong>ocena składu</strong></h2>
    <p>Celem aplikacji jest <u>wytłumaczenie</u>, a nie nie ocenienie składu. Nawet najbardziej inteligentne programy nie zastąpią w tym naszej wiedzy i doświadczenia, szczególnie że każde włosy i skóra są inne. Składnik który szkodzi jednej osobie będzie działał cuda u drugiej Aplikacja pomoże w wytłumaczeniu nieznanych przez nas nazw, określeniu czym jest składnik oraz podpowiedzeniu nam istotnych infomacji o nim, ale <u>będzie to opis jak najbardziej obiektywny</u>. To czy skład jest wartościowy/szkodliwy/odpowiedni dla nas już musi być określone przez nas samych (albo przez kogoś z wiedzą komu ufamy).</p>
</section>

<section class ="content-section">
    <h2></h2>
</section>

@code {

}
