@page "/"
@inject HttpClient Http

<h1>Sprawdź skład!</h1>

@if (!string.IsNullOrWhiteSpace(HttpErrorString))
{
    <div class="text-danger">
        @HttpErrorString
    </div>
}
<div>
    <div class="form-group shadow-textarea">
        <label for="IngredientsNames">Tu wpisz skład do sprawdzenia:</label>
        <textarea @bind-value="IngredientsNames" @bind-value:event="oninput" class="form-control z-depth-1" rows="3" placeholder="składnik 1, składnik 2, ..."></textarea>
    </div>
    <div class="form-group">
        <button @onclick="HandleValidSubmit">sprawdź skład</button>
    </div>
</div>

@if (notFoundNames != null)
{
    <div class="alert alert-danger">
        <h4>Nie znaleźliśmy wszystkich nazw. Sprawdź czy są wpisane poprawnie.</h4>
        <small>Każdy składnik powinien być oddzielony przecinkiem i spacją na wzór: [składnik1, składnik2, składnik z paru wyrazów, składnik4]</small>
        <p>
            <strong>@notFoundNames</strong>
        </p>
    </div>
}

@if (ingredientsList != null)
{
    <h3>znalezione składniki:</h3>
    <div class="list-group list-group-flush">
        @foreach (var ingredient in ingredientsList)
        {
            <DisplayIngredient Ingredient=ingredient />
        }
    </div>
}



@code{

    public string IngredientsNames { get; set; }
    private List<IngredientModel> ingredientsList;
    private string notFoundNames;
    private string HttpErrorString;
    private async Task HandleValidSubmit()
    {
        if (string.IsNullOrEmpty(IngredientsNames))
        {
            return;
        }

        var namesArray = IngredientsNames.Split(", ");

        try
        {
            HttpResponseMessage responce = await Http.PostAsJsonAsync("api/ingredients/checker", namesArray);
            var content = await responce.Content.ReadFromJsonAsync<CheckedingredientsModel>();

            ingredientsList = null;
            notFoundNames = null;

            if (content.IngredientsList.Count != 0)
            {
                ingredientsList = content.IngredientsList;
            }

            if (content.NotFoundNames.Count != 0)
            {
                notFoundNames = string.Join(", ", content.NotFoundNames);
            }

        }
        catch (Exception ex)
        {

            HttpErrorString = ex.Message;
        }
    }
}