@model ICDataManager.Models.IngredientNameCreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DBIngredientNameModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IngredientName.Name" class="control-label"></label>
                <input asp-for="IngredientName.Name" class="form-control" />
                <span asp-validation-for="IngredientName.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IngredientName.IngredientId" class="control-label"></label>
                <select asp-for="IngredientName.IngredientId" asp-items="Model.Ingredients" class="form-control">
                    <option value="0">--- Select existing Ingredient ---</option>
                </select>
                <span asp-validation-for="IngredientName.IngredientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

