<nav class="navbar fixed-top navbar-expand-md navbar-light">
    <div class="navbar-nav">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="ToggleNavMenu">
            <span class="oi oi-home" aria-hidden="true"></span> <span class="link-name">Home</span>
        </NavLink>
    </div>

    <button class="btn navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="@navMenuCssClass navbar-collapse">
        <ul class="navbar-nav">

            <li class="nav-item">
                <NavLink class="nav-link" @onclick="ToggleNavMenu" href="ingredients">
                    <span class="oi oi-list" aria-hidden="true"></span> <span class="link-name">Lista składników</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" @onclick="ToggleNavMenu" href="about-app">
                    <span class="oi oi-monitor" aria-hidden="true"></span> <span class="link-name">O stronie</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" @onclick="ToggleNavMenu" href="about-hair-care">
                    <span class="oi oi-book" aria-hidden="true"></span> <span class="link-name">O włosomaniactwie</span>
                </NavLink>
            </li>
        </ul>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string navMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
