@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Error: no page found</h1>
    <p>Czy szukasz może <a href="https://localhost:44331/">tego</a>? </p>
</div>
