@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Error: no page found</h1>
    <p>Czy szukasz może <a href=@ViewData["UIBaseUrl"]>tego</a>? </p>
    <p><small>This is testign text to see if deployment works</small></p>
</div>
